ipykernel
numpy
pandas
pyarrow
sentence-transformers
faiss-cpu
transformers
huggingface_hub
openai
tiktoken
chromadb>=0.4.0
langchain>=0.1.10,<0.2
langchain_core
langchain_community
langchain_groq
langchain_chroma
langchain_openai
langgraph
langserve
fastapi
uvicorn
sse_starlette
streamlit
matplotlib
seaborn
plotly
sqlalchemy
pymongo
redis
boto3
mlflow
dvc
dagshub
apache-airflow
prometheus-client
grafana-api
loguru
pytest
pytest-cov
black
ruff
mypy
python-dotenv
python-multipart
requests
httpx
pyyaml
tqdm
python-jose
pydantic
typing-extensions
pymupdf
pypdf